<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.1.0-alpha0181" targetFramework="net48" developmentDependency="true" />
  <package id="Fody" version="6.9.1" targetFramework="net48" developmentDependency="true" />
  <package id="GlmSharp" version="0.9.8" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
</packages>